* {
  margin: 0;
  padding: 0;
}
#to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: black;
  color: white;
  cursor: pointer;
  outline: none;
  border: 3px solid rgb(90, 89, 89);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#to-top:hover,
#to-top:focus {
  background-color: white;
  color: black;
}

.back-button button {
  position: fixed;
  top: 15px;
  left: 70px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: black;
  color: #a8ccd7;
  cursor: pointer;
  outline: none;
  border: 3px solid #7f8485;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
.back-button button:hover,
.back-button button:focus {
  background-color: white;
  color: black;
}
.forward-button button {
  position: fixed;
  top: 15px;
  left: 130px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: black;
  color: #a8ccd7;
  cursor: pointer;
  outline: none;
  border: 3px solid #7f8485;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
.forward-button button:hover,
.forward-button button:focus {
  background-color: white;
  color: black;
}
html {
  background-color: black;
  height: auto;
}
body {
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: black;
}
.Navigation {
  display: none;
  grid-area: navigation;
  background: black;
  border: 2px gray solid;
  padding: 3rem;
  padding-bottom: 9rem;
  padding-top: 8rem;
  box-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
}
.Navigation ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.Navigation a {
  background: black;
  color: white;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
}
.Navigation a:hover {
  background: white;
  color: black;
}
.MobileNavigation {
  grid-area: main;
  display: none;
}
.Background .MobileNavigation ul {
  display: grid;
  grid-gap: 20px;
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  list-style: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.Background .MobileNavigation a {
  display: block;
}
.main-container {
  display: grid;

  /* grid-gap: 20px; */
  background: black;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 4fr;
  grid-template-areas:
    "home    home"
    "main main";
}
.HomeButton {
  grid-area: home;
  background: black;
  display: block;
  align-self: center;
  text-align: center;
}
.HomeButton a {
  text-decoration: none;
  background: black;
  color: #000000;
  text-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
  text-align: center;
  font-size: 3.5rem;
}
.HomeButton a:hover {
  background: black;
  font-size: 4rem;
}
/* .HomeButton:hover {
  background: grey;
  color: black;
} */
.buttons {
  grid-area: buttons;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  color: white;
}
.Background {
  grid-area: main;
  /* background: url(images/background4.jpg); */

  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
}
/* .Background .media {
  padding: 20px;
  list-style: none;
  position: absolute;
  bottom: 90px;
}
.Background .contact {
  padding: 20px;
  list-style: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
} */
.Background a {
  background: black;
  color: white;
  /* display: block; */
  block-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.1rem;
  box-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
}
.Background a:hover {
  block-size: 1.8rem;
  font-size: 1.3rem;
}
.Background article {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.Background h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.Background img {
  display: block;
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.Container p,
h2 {
  color: white;
}
.BurgerNav {
  display: none;
  grid-area: home;
  position: relative;
  top: 15px;
  position: fixed;
  right: 1rem;
}
.BurgerNav div {
  width: 25px;
  height: 4px;
  background-color: #a8ccd7;
  margin: 5px;
}
.BurgerNav:hover {
  filter: opacity(50%);
  user-select: none;
}
.CloseNav {
  display: none;
  position: relative;
  top: 7px;
  position: fixed;
  right: 1rem;
  grid-area: home;
}
.CloseNav h1 {
  color: #a8ccd7;
}
@media (max-width: 2000px) {
  .Container {
    margin-left: 300px;
    margin-right: 300px;
  }
}
@media (max-width: 1200px) {
  .Container {
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media (max-width: 1000px) {
  .Container {
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media (max-width: 800px) {
  .main-container {
    display: grid;
    background: black;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 25fr auto;
    grid-template-areas:
      "home"
      "main"
      "main";
    grid-auto-flow: column;
  }

  .BurgerNav {
    display: initial;
  }
  .Navigation {
    display: none;
    grid-area: main;
    padding: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .forward-button {
    display: none;
  }
  .back-button {
    display: none;
    position: fixed;
    top: 5px;
    left: 20px;
    width: 50px;
    height: 50px;
  }
  .HomeButton a {
    font-size: 3rem;
  }
  .HomeButton a:hover {
    background: black;
    font-size: 2.8rem;
  }
  .Background article {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}
@media (max-width: 600px) {
  .main-container {
    display: grid;
    background: black;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 30fr auto;
    grid-template-areas:
      "home"
      "main"
      "main";
    grid-auto-flow: column;
  }
  .Background {
    box-shadow: unset;
  }
  .HomeButton a {
    font-size: 2.5rem;
    position: relative;
    top: 4px;
  }
  .HomeButton a:hover {
    background: black;
    font-size: 2.3rem;
  }
  .back-button {
    position: fixed;
    top: 8px;
    left: 20px;
    width: 40px;
    height: 40px;
  }
  .BurgerNav {
    top: 8px;
    position: fixed;
  }
  .Background article {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .main-container {
    display: grid;
    background: black;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 40fr auto;
    grid-template-areas:
      "home"
      "main"
      "main";
    grid-auto-flow: column;
  }

  .HomeButton a {
    font-size: 2rem;
    position: relative;
    padding: 0;
  }
  .HomeButton a:hover {
    background: black;
    font-size: 1.3rem;
  }
  .back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
  }
  .BurgerNav {
    top: 5px;
    position: fixed;
    right: 0.1rem;
  }
  .Background article {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .HomeButton a {
    font-size: 1.8rem;
    position: relative;
  }
  .HomeButton a:hover {
    background: black;
    font-size: 1.6rem;
  }
  .back-button {
    position: fixed;
    top: 15px;
    left: 5px;
    width: 30px;
    height: 30px;
  }
  .Background article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}
@media (max-width: 340px) {
  .HomeButton a {
    font-size: 1.5rem;
    position: relative;
  }
  .HomeButton a:hover {
    background: black;
    font-size: 1.3rem;
  }
  .back-button {
    position: fixed;
    top: 15px;
    left: 5px;
    width: 30px;
    height: 30px;
  }
  .Background article {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  .Background article {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}
/* @media (max-width: 250px) {
  .Container {
    margin-left: 25px;
    margin-right: 5px;
  }
} */
/* table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
  color: black;
  margin-left: 200px;
}
p {
  margin-bottom: 30px;
  margin-left: 200px;
  margin-right: 200px;
  line-height: 1.4em;
  text-align: justify;
}

h2,
h3,
h4,
h5,
h6 {
  margin-left: 200px;
}
img {
  margin-left: 200px;
} */
