* {
  margin: 0;
  padding: 0;
}
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: white;
  color: black;
  cursor: pointer;
  outline: none;
  border: 3px solid rgb(90, 89, 89);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top:hover,
#back-to-top:focus {
  background-color: black;
  color: white;
}
.back-button {
  position: fixed;
  top: 55px;
  left: 70px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: black;
  color: white;
  cursor: pointer;
  outline: none;
  border: 3px solid rgb(90, 89, 89);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
.back-button:hover,
.back-button:focus {
  background-color: white;
  color: black;
}
.forward-button {
  position: fixed;
  top: 55px;
  left: 130px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: black;
  color: white;
  cursor: pointer;
  outline: none;
  border: 3px solid rgb(90, 89, 89);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
.forward-button:hover,
.forward-button:focus {
  background-color: white;
  color: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
  color: black;
}
.Navigation {
  grid-area: navigation;
  background: black;
  border: 2px gray solid;
  padding: 3rem;
  padding-bottom: 9rem;
  padding-top: 8rem;
  box-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
}
.Navigation ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.Navigation a {
  background: black;
  color: white;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
}
.Navigation a:hover {
  background: white;
  color: black;
}

.main-container {
  display: grid;
  /* grid-gap: 20px; */
  background: black;
  grid-template-columns: 20% 80%;
  grid-template-rows: 0.5fr 4fr;
  grid-template-areas:
    "buttons    home"
    "navigation main";
}
.HomeButton {
  grid-area: home;
  background: black;
  display: block;
}
.HomeButton a {
  text-decoration: none;
  background: black;
  color: #000000;
  text-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
  text-align: center;
  font-size: 3.5rem;

  /* padding-left: 30rem;
  padding-right: 33rem; */
}
.HomeButton a:hover {
  background: black;
  font-size: 4rem;
}
/* .HomeButton:hover {
  background: grey;
  color: black;
} */
.buttons {
  grid-area: buttons;
}
.Background {
  grid-area: main;
  background: url(images/background4.jpg);
  /* min-height: 700px; */
  position: relative;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
}
.Background .media {
  padding: 20px;
  list-style: none;
  position: absolute;
  bottom: 90px;
}
.Background .contact {
  padding: 20px;
  list-style: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.Background a {
  background: black;
  color: white;
  /* display: block; */
  block-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.1rem;
  box-shadow: 1px 1px 2px #a8ccd7, 0 0 25px #a8ccd7, 0 0 5px white;
}
.Background a:hover {
  block-size: 1.8rem;
  font-size: 1.3rem;
}

.Container p,
h2 {
  color: white;
}
@media (max-width: 2000px) {
  .Container {
    margin-left: 300px;
    margin-right: 300px;
  }
}
@media (max-width: 1200px) {
  .Container {
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media (max-width: 1000px) {
  .Container {
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media (max-width: 800px) {
  .main-container {
    display: grid;
    background: black;
    grid-template-columns: 15% 85%;
    grid-template-rows: 0.5fr 3fr 5fr;
    grid-template-areas:
      "buttons home"
      "navigation navigation"
      "main main";
  }
  .Navigation {
    padding: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 600px) {
  .Container {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (max-width: 500px) {
  .Container {
    margin-left: 50px;
    margin-right: 40px;
  }
}
@media (max-width: 400px) {
  .Container {
    margin-left: 40px;
    margin-right: 20px;
  }
}
@media (max-width: 300px) {
  .Container {
    margin-left: 30px;
    margin-right: 20px;
  }
}
/* @media (max-width: 250px) {
  .Container {
    margin-left: 25px;
    margin-right: 5px;
  }
} */
/* table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
  color: black;
  margin-left: 200px;
}
p {
  margin-bottom: 30px;
  margin-left: 200px;
  margin-right: 200px;
  line-height: 1.4em;
  text-align: justify;
}

h2,
h3,
h4,
h5,
h6 {
  margin-left: 200px;
}
img {
  margin-left: 200px;
} */
